$jd-green: rgb(157,201,0);
$jd-green-dark: darken($jd-green, 5%);
$jd-green-light: lighten($jd-green, 5%);
$jd-blue: rgb(23,55,102);

$base-color: $jd-green;
$base-text-color: rgb(255,255,255);

$base-link-color: rgb(255,255,255);
$base-link-hover-color: $jd-green;
$base-heading-color: rgb(255,255,255);

$base-font-family: 'Bitter', serif;
$base-font-size: 16px;


$base-border-width: 1px;
$base-border-style: dashed;
$base-border-color: #fff;