.left {
  float:left!important;
}
.right {
  float:right!important;
}
.clear {
  clear: both;
}
.no-padding {
  padding:0!important;
}
.no-padding-left {
  padding-left:0!important;
}
.no-padding-right {
  padding-right:0!important;
}
.no-padding-bottom {
  padding-bottom:0!important;
}
.no-padding-top {
  padding-top :0!important;
}
.circle {
  border-radius: 50%;
}
.box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.no-scroll {
  overflow: hidden;
}
.border-left {
  border-left: $base-border-width $base-border-style $base-border-color;
}
.border-right {
  border-right: $base-border-width $base-border-style $base-border-color;
}
.border-bottom {
  border-bottom: $base-border-width $base-border-style $base-border-color;
}
.border-top {
  border-top: $base-border-width $base-border-style $base-border-color;
}
.text-upper {
  text-transform: uppercase;
}
.text-bold {
  font-weight: 700;
}
.text-italic {
  font-style: italic;
}
.text-underline {
  text-decoration: underline;
}
.text-large {
  font-weight: 700;
  font-size: rem-calc(36);
}
.text-white {
  color: #fff;
}
.text-left {
  text-align: left!important;
}
.text-right {
  text-align: right!important;
}
.text-center {
  text-align: center!important;
}
@mixin clearfix {
  content: " ";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0px;
}
@mixin border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.fontsize {
  font-size: rem-calc(16);
}
