// bower:scss
// endbower
@import "fonts","config", "utils", "functions";
@import "mixins/mixins", "base/base", "layout/layout", "modules/modules";


.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
