html.no-js {
  body {

    * {
      display:none;
      visibility: hidden;
    }
    noscript {
      font-size: 24px;
      display:block;
      visibility: visible;
      background-color: red;
      color: #fff;
      font-weight: bold;
      height:100%;
      width: 100%;
      text-align: center;
    }
  }
}
body {
  color: $base-text-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  margin: 0;
  padding: 0;
}