a {
  color: $base-link-color;
  text-decoration: none;
  border-bottom: 1px dashed #fff;
  font-size: rem-calc(14);
  transition: all 0.2s ease-out;
  &:link,
  &:hover,
  &:active,
  &:visited,
  &:focus{
    color: $base-link-color;
    text-decoration: none;
    outline: none;
  }
  &:hover {
    color: $jd-green;
    border-color: $jd-green;
    transition: all 0.2s ease-in;
  }
  &:active {
    color: $jd-green;
    border-bottom-color: $jd-green;
    border-bottom-style: solid;
  }
}
h2 {
  margin-bottom: 0;
  padding-bottom: 0;

  color: $base-heading-color;
  .label {
    font-size: rem-calc(16);
    font-weight: 400;
    &.lime {
      color: $jd-green;
    }
  }
}
h3 {
  font-size: rem-calc(16);
  color: $jd-green-light;
  text-transform: uppercase;
  //text-shadow: 0 0 50px rgba(0,0,0,0.5);
}
h4 {
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: rem-calc(24);
  font-weight: 400;
  color: #fff;
}
