.bg-stripe {
  height:115px;
  width:100%;
  position:fixed;
  top:0;
  left:0;
  z-index: -2;
  background-color: rgba($jd-green, 0.4);
  opacity: .3;
  &.large {
    min-height:100%;
    top: 190px;
  }
}