.navigation-programm {
  opacity: .6;
  transition: all 0.2s ease-out;
  .sub {
    opacity: 0;
    transition: all 0.2s ease-out;
  }
  &:hover {
    opacity: 1;
    transition: all 0.2s ease-in;
    .sub {
      opacity: 1;
      transition: all 0.2s ease-in;
    }
  }
  &.selected {
    opacity: 1;
    .sub {
      opacity: 1;
    }
  }
  h2 {
  //  cursor: pointer!important;
  }
  a.selected {
    color: $jd-blue;
    border-bottom: 1px solid $jd-blue;
  }

}