.navigation-main {
 // max-width:960px;
  @extend .row;
  padding-top: 10px;
  margin: 0 auto;
  z-index: 1100;
  display: table;
  max-width:960px;
  a {
    display: table-cell;
    text-align: center;
    font-size: 16px;
    @extend .text-upper;
    letter-spacing: 0.01rem;
   //margin-right: 120px;
   // width:120px;
    border-bottom: none;
    z-index: 1200;
    span {
      color: #fff;
      border-width: 1px;
      border-bottom-style: dashed;
      border-bottom-color: #fff;
      padding: 0 6px;
    }
    &:last-child {
      margin-right: 0;
    }
    &.current span {
      color: $jd-blue;
      border-bottom-style: solid;
      border-bottom-color: $jd-blue;
    }
  }

}
