<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>jungesDokfest</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>
<body>

<div class="bg-container"></div>
<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/handlebars/handlebars.min.js"></script>

<!-- endbower -->
<!-- endbuild -->

<!-- build:js({app,.tmp}) scripts/main.js -->
<script src="scripts/main.js"></script>
<!-- endbuild -->

<script id="entry-template" type="text/x-handlebars-template">
    <div class="entry">
        <h1>{{title}}</h1>

        <div class="body">
            {{body}}
        </div>
    </div>
</script>

<script>
    var render = function (elm, target) {
        $(target).append(elm)
    }
</script>
<script>
    /* var source   = $("#entry-template").html();
     var template = Handlebars.compile(source);
     var context = {title: "My New Post", body: "This is my first post!"};
     var html    = template(context);
     $('body').append(html);*/
</script>
<script>

</script>
<script>
    (function(){
         var initialized = setInterval(function () {
        console.log('trigger');
        if (_data != null) {
            clearInterval(initialized);
            var source = $('#navigation-programm-template').html();
            var template = Handlebars.compile(source);
            var context = _data;
            var html = template(context);
            console.log(html);
  //          render(html, 'body');

          $('body').append(html);

        }
    }, 100);


    })();
</script>
</body>

</html>