<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>jungesDokfest</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="../bower_components/animate.css/animate.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>
<body>
<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<div class="loading"></div>
<![endif]-->
<noscript>
    Javascript wird benötigt.
</noscript>
<script id="navigation-main-template" type="text/x-handlebars-template">
    {{#each items}}
    <a href="#{{route}}" data-route="{{route}}"><span>{{title}}</span></a>
    {{/each}}
</script>
<script id="programm-list-template" type="text/x-handlebars-template">
    {{#each programm}}
    <div class="navigation-programm" data-uid="{{id}}">
        <h2><span class="label lime">{{prefix}}</span> {{title}}</h2>

        <div class="sub">
            <a href="#das-projekt/{{id}}/preparation" data-action="preparation">Unterrichtsvorbereitung</a> | <a
                href="#das-projekt/{{id}}/material"
                data-action="material">Unterrichtsmaterial</a>
        </div>
    </div>
    {{/each}}
</script>
<!--h3>Unterrichtsvorbereitung</h3-->
<script id="prep-list-template" type="text/x-handlebars-template">

        {{#each programm }}
        <div class="programm" id="programm-{{id}}">
            {{#each screenings}}
            <div class="screening">
                <h4>{{title}}</h4>
                <a href="#">Didaktische Übungen</a><span class="divider"> / </span><a
                    href="#">Einführungstext</a><span class="divider"> / </span><a href="#">Glossar</a>
                <div class="preps">
                {{#list preps}}
                <a href="assets/{{dl}}" download="{{title}}.doc">{{title}}</a>
                {{/list}}
                </div>
                <div class="mats">
                {{#list mats}}
                <a href="assets/{{dl}}" download="{{title}}.doc">{{title}}</a>
                {{/list}}
                </div>
            </div>
            {{/each}}

        </div>
        {{/each}}
</script>


<div class="bg-stripe"></div>
<div class="bg-stripe large"></div>
<header>
    <div class="row">
        <nav class="row navigation-main">
        </nav>
    </div>
</header>

<section id="das-projekt">
    <div class="row">
        <div class="level-1 columns-5">
            <div class="programm-list"></div>
        </div>
        <div class="level-2 columns-5 screening-list">

        </div>
    </div>
</section>
<section id="didaktik">
    <h1>didaktik</h1>
</section>
<section id="unterricht">
    <h1>unterricht</h1>
</section>
<section id="impressum">
    <h1>impressum</h1>
</section>
<div class="page">

</div>
<div id="msg">Die Datei wurde in ihrem Download-Ordner gespeichert</div>
<footer></footer>


<div class="bg-container"></div>
<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/handlebars/handlebars.min.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({app,.tmp}) scripts/main.js -->
<script src="scripts/jd.data.js"></script>
<script src="scripts/jd.helper.js"></script>
<script src="scripts/jd.routes.js"></script>
<script src="scripts/jd.navigation.js"></script>
<script src="scripts/jd.programms.js"></script>

<script src="scripts/main.js"></script>
<!-- endbuild -->
</body>
</html>
