/* Clearfix */
.row {
  // background-color: rgba(#f00,.8);
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  &:before, &:after, {
    content: " ";
    display: table;
  }
  &:after {
    @include clearfix;
  }


}

/* Attribute selector */
[class*='columns-'] {
  position: relative;
  float: left;
  padding: rem-calc(20);
  z-index: 10;
  //background-color: #00b3ff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

/* Floats last ".column-" to the right */
[class*='columns-']:last-of-type {
  &:after {
    @include clearfix;
  }
}

$columns: 10;

@for $i from 1 through $columns {
  .columns-#{$i*1} {
    width: 100% / $columns *$i;
  }
  .push-#{$i*1} {
    left: 100% / $columns * $i;
    right: auto
  }
}

.columns-25 {
  width: 25%;
  &.centered {
    margin-left: 37.5% !important;
  }
}

.columns-75 {
  width: 75%;
  &.centered {
    margin-left: 12.5% !important;
  }
}

.columns-50 {
  width: 50%;
  &.centered {
    margin-left: 25% !important;
  }
}

.column-33 {
  width: 33.32%;
  &.centered {
    margin-left: 33.32% !important;
  }

}

.column-66 {
  width: 66.66%;
  &.centered {
    margin-left: 16.66% !important;
  }
}



