@import "grid";

.bg-container {
  position: fixed;
  width: 100%;
  z-index: -10;
  top:0;
  left:0;
  height:100%;
  background: greenyellow url("../images/jd-bg.jpg") no-repeat 50% 50%;
  background-size: cover;
}